* { margin: 0; padding: 0; }  
  html { height:100%; } 
.thumbnail 
{
float:left;
margin:5px;
} 
      body {  
   	text-align: left;  
        width: 100%;  
        height: 100%;  
        font-size: 62.5%;  
        font-family: Helvetica, arial, sans-serif;  
  	color: #000;  
        background: #fff;  
        margin: 0;  
        border: 0;  
        padding: 0; }  
     a { color:#007ca5; text-decoration:none; outline: none; }  
     a:visited { color:#666; }  
     a:active { color:#999; }  
 
     .left_col a { color:#fff; text-decoration: none; outline: none; }  
     .left_col a:hover { color:#fff; text-decoration: underline; outline: none; }  
     .left_col a:visited { color:#fff; }  
     .left_col a:active { color:#fff; }  
     img, a img { border-style: none; }  
       h1, .h1 { font-size: 3.4em; }  
       h2, .h2 { font-size: 2em; } /* 20pt */ 
       h3, .h3 { font-size: 1.8em;} /* 18pt */ 
       h4, .h4 { font-size: 1.6em; } /* 16pt */ 
       h5, .h5 { font-size: 1.4em;  font-weight:normal; } /* 14pt */ 
       h6, .h6 { font-size: 1.1em; } /* 11pt */ 
      .small { font-size: .9em; }  
      .clearer {clear:both; }  
      .header {  
           text-align: left;  
           background: #275ADA;
           color: #fff;  
           width: 980px;  
           margin: 0 0 0 0;  
           border: 0;  
           padding: 10px;  
           overflow: hidden; 
	  
 
       }  
ul
{
list-style-type:none;
margin:0;
padding:0;
} 

  .left_col {  
          text-align: center;  
         float: left;  
         background:#27DADA;  
    	 color: #fff;  
         width: 160px;  
         height: 600px;  
         margin: 0 0 0 0;  
         border: 0;  
         padding: 10px;  
         overflow: hidden;  
         } 
a:hover,a:active
{
background-color:#007ca5;
} 


       .main_col {  
          text-align: left;  
          float: right;  
          background: #fff;  
          color: #000;  
          width: 800px;  
          height: 600px;  
          margin: 0 0 0 0;  
          border: 0;  
          padding: 10px;  
          overflow: hidden; 
 
          }  

       .footer {  
          text-align: right;  
          background: #eceae1;  
          color: #000;  
          width: 980px;  
          margin: 0 0 0 0;  
          border: 0;  
          padding: 10px;  
          overflow: hidden;  
            }  

       .wrapper {  
          text-align: center;  
          width: 1000px;  
          margin-left: auto;  
          margin-right: auto;  
           }  
